@import 'tailwindcss';

:root {
    --max-width: 1440px;
    --nav-height: 80px;
    --width-card: 440px;
}

@theme inline {
    --font-gmarket-sans: var(--font-gmarket-sans);

    --color-primary: #0f0f0f;
    --color-primary-20: #292929;
    --color-red: #ff0000;
    --color-accent-teal: #1fbfce;
    --color-accent-light-blue: #eaf2ff;

    --radius: 40px;

    --color-neutral-0: #202020;
    --color-neutral-50: #cecece;
    --color-neutral-20: #838383;
    --color-neutral-10: #646464;
    --color-neutral-30: #8d8d8d;
    --color-neutral: var(--color-neutral-30);
    --color-neutral-70: #e1e1e1;
    --color-neutral-95: #f9f9f9;
    --color-neutral-100: #ffffff;

    --color-sunset: #f4511e;
    --color-light-sunset: #ffeae2;
    --color-accent-purple: #7e1cff;
    --color-accent-blue: #1c5cff;
    --color-accent-light-teal: #dbf7fb;
}

body {
    font-family: var(--font-gmarket-sans), sans-serif;
    font-weight: 500;
}

button {
    cursor: pointer;
}

@layer components {
    .text-t1-medium {
        font-size: 18px;
        line-height: 26px;
    }

    .text-t1-bold {
        font-size: 18px;
        line-height: 26px;
        font-weight: bold;
    }

    .text-h2-medium {
        font-size: 40px;
        line-height: 58px;
    }

    .text-h2-bold {
        font-size: 40px;
        line-height: 58px;
        font-weight: bold;
    }

    .text-h4-medium {
        font-size: 24px;
        line-height: 36px;
    }

    .text-h4-bold {
        font-size: 24px;
        line-height: 36px;
        font-weight: bold;
    }

    .text-h5-medium {
        font-size: 20px;
        line-height: 32px;
    }

    .text-h5-bold {
        font-size: 20px;
        line-height: 32px;
        font-weight: bold;
    }

    .text-h3-bold {
        font-size: 32px;
        line-height: 48px;
        font-weight: bold;
    }

    .text-b3-medium {
        font-size: 14px;
        line-height: 22px;
    }

    .text-b1-medium {
        font-size: 16px;
        line-height: 24px;
    }

    .main {
        max-width: var(--max-width);
        padding: 0 32px;
        width: 100%;
        margin: auto;
    }
}
