@import 'tailwindcss';

:root {
    --max-width: 1440px;
    --width-card: 440px;
}

@theme inline {
    --font-gmarket-sans: var(--font-gmarket-sans);

    --color-primary: #0f0f0f;
    --color-primary-20: #292929;
    --color-red: #ff0000;

    --radius: 40px;

    --color-neutral-0: #202020;
    --color-neutral-50: #cecece;
    --color-neutral-20: #838383;
    --color-neutral-10: #646464;
    --color-neutral-30: #8d8d8d;
    --color-neutral: var(--color-neutral-30);
    --color-neutral-70: #e1e1e1;
    --color-neutral-95: #f9f9f9;
    --color-neutral-100: #ffffff;

    --color-sunset: #f4511e;
}

body {
    font-family: var(--font-gmarket-sans), sans-serif;
    font-weight: 500;
}

button {
    cursor: pointer;
}

@layer components {
    .main {
        max-width: var(--max-width);
        width: 100%;
        margin: auto;
        padding: 80px 32px;
    }
}
